.result {
  display: flex;
  flex-direction: column;

  &__canvasWrapper {
    position: relative;
    margin-bottom: 128 * $BS;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: $BS * 15;
      height: 4px;
      background: $Yellow;
      box-shadow:
        0 $BS * 574 0 $Yellow,
        0 $BS * 574 / 5 * 4 0 $Yellow,
        0 $BS * 574 / 5 * 3 0 $Yellow,
        0 $BS * 574 / 5 * 2 0 $Yellow,
        0 $BS * 574 / 5 * 1 0 $Yellow,
        0 0 0 $Yellow;
      transform: translateY(-2px);
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: $BS * 15;
      width: 4px;
      background: $Yellow;
      box-shadow:
        0 0 0 $Yellow,
        $BS*1836 / 10 * 1 0 0 $Yellow,
        $BS*1836 / 10 * 2 0 0 $Yellow,
        $BS*1836 / 10 * 3 0 0 $Yellow,
        $BS*1836 / 10 * 4 0 0 $Yellow,
        $BS*1836 / 10 * 5 0 0 $Yellow,
        $BS*1836 / 10 * 6 0 0 $Yellow,
        $BS*1836 / 10 * 7 0 0 $Yellow,
        $BS*1836 / 10 * 8 0 0 $Yellow,
        $BS*1836 / 10 * 9 0 0 $Yellow,
        $BS*1836 0 0 $Yellow;
      transform: translateX(-2px);
    }
  }

  &__canvas {
    width: 100%;
    background: $White;
  }

  &__canvasControls {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(100%);
    width: 100%;
    z-index: 2;
  }

  &__report {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: $BS * 32;
    display: none;
  }

  &__weekWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 25%;
    margin-bottom: $BS * 32;
    width: calc(25% - #{$BS} * 24);
    margin-right: $BS * 32;

    &:nth-child(4n + 4) {
      margin-right: 0;
    }
  }

  &__reportWrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__reportEntry {
    padding: $BS * 16;
    background: $White;
    border-top: solid $BS * 16 transparent;
  }

  &__reportRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $Black;
    margin-bottom: $BS * 8;
    padding-bottom: $BS * 8;
    border-bottom: solid 1px $Yellow;

    span {
      display: inline-block;
      margin-right: $BS * 32;
      max-width: 70%;
      @include bs-font-size(22);
      line-height: 130%;
    }

    &--name {
      font-weight: 700;
      @include bs-font-size(36);
      line-height: 130%;
      color: inherit;
    }

    &--population {
      font-weight: 700;
    }

    &--weeks {
      font-weight: 700;
    }

    &--bad {
      color: red;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__showReports {
    display: none;

    &:checked {
      &~.result__report {
        display: flex;
      }

      &~div {
        label[for="showResultReports"] {
          background: $YellowDark;

          &:hover {
            color: $Yellow;
          }
        }
      }
    }
  }

  &__text {
    background: $White;
    padding: $BS * 32;
    margin-bottom: $BS * 32;

    span {
      font-weight: 700;
    }

    li {
      margin-bottom: $BS * 32;
    }
  }

  &__grounded {
    color: red;
  }
}

@media #{$BreakpointMAX

}

  {
  .result {
    &__canvasWrapper {
      margin-bottom: 128px;
    }

    &__report {
      margin-top: 32px;
    }

    &__weekWrapper {
      margin-bottom: 32px;
      width: calc(25% - 24px);
      margin-right: 32px;

      &:nth-child(4n + 4) {
        margin-right: 0;
      }
    }

    &__reportEntry {
      padding: 16px;
      border-top-width: 16px;
    }

    &__reportRow {
      margin-bottom: 16x;

      span {
        margin-right: 32px;
        @include bs-font-size-max(22);
        line-height: 130%;
      }

      &--name {
        @include bs-font-size-max(36);
      }
    }

    &__text {
      padding: 32px;
      margin-bottom: 32px;

      li {
        margin-bottom: 32px;
      }
    }
  }
}

@media #{$BreakpointL} {
  .result {
    &__canvasWrapper {
      margin-bottom: 128 * $LBS;
    }

    &__report {
      margin-top: 32 * $LBS;
    }

    &__weekWrapper {
      margin-bottom: 32 * $LBS;

      width: calc(25% - #{$LBS} * 24);
      margin-right: $LBS * 32;

      &:nth-child(4n + 4) {
        margin-right: 0;
      }
    }

    &__reportEntry {
      padding: 16 * $LBS;
      border-top-width: 16 * $LBS;
    }

    &__reportRow {
      margin-bottom: 16 * $LBS;

      span {
        margin-right: 32 * $LBS;
        @include bs-font-size-l(22);
        line-height: 130%;
      }

      &--name {
        @include bs-font-size-l(36);
      }
    }

    &__text {
      padding: $LBS * 32;
      margin-bottom: $LBS * 32;

      li {
        margin-bottom: $LBS * 32;
      }
    }
  }
}

@media #{$BreakpointM} {
  .result {
    &__canvasWrapper {
      margin-bottom: 128 * $MBS;
    }

    &__report {
      margin-top: 32 * $MBS;
    }

    &__weekWrapper {
      margin-bottom: 32 * $MBS;

      width: calc(33.333% - #{$MBS} * 21.333);
      margin-right: $MBS * 32;

      &:nth-child(4n + 4) {
        margin-right: $MBS * 32;
      }

      &:nth-child(3n + 3) {
        margin-right: 0;
      }
    }

    &__reportEntry {
      padding: 16 * $MBS;
      border-top-width: 16 * $MBS;
    }

    &__reportRow {
      margin-bottom: 16 * $MBS;

      span {
        margin-right: 32 * $MBS;
        @include bs-font-size-m(22);
        line-height: 130%;
      }

      &--name {
        @include bs-font-size-m(36);
      }
    }

    &__text {
      padding: $MBS * 32;
      margin-bottom: $MBS * 32;

      li {
        margin-bottom: $MBS * 32;
      }
    }
  }
}

@media #{$BreakpointS} {
  .result {
    &__canvasWrapper {
      margin-bottom: 128 * $SBS;
    }

    &__report {
      margin-top: 32 * $SBS;
    }

    &__weekWrapper {
      margin-bottom: 32 * $SBS;
      width: calc(50% - #{$SBS} * 16);
      margin-right: $SBS * 32;

      &:nth-child(4n + 4) {
        margin-right: $SBS * 32;
      }

      &:nth-child(3n + 3) {
        margin-right: $SBS * 32;
      }

      &:nth-child(even) {
        margin-right: 0;
      }
    }

    &__reportEntry {
      padding: 16 * $SBS;
      border-top-width: 16 * $SBS;
    }

    &__reportRow {
      margin-bottom: 16 * $SBS;

      span {
        margin-right: 32 * $SBS;
        @include bs-font-size-s(22);
        line-height: 130%;
      }

      &--name {
        @include bs-font-size-s(36);
      }
    }

    &__text {
      padding: $SBS * 32;
      margin-bottom: $SBS * 32;

      li {
        margin-bottom: $SBS * 32;
      }
    }
  }
}

@media #{$BreakpointXS} {
  .result {
    &__canvasWrapper {
      margin-bottom: 128 * $XSBS;
    }

    &__report {
      margin-top: 32 * $XSBS;
    }

    &__weekWrapper {
      margin-bottom: 32 * $XSBS;
      width: 100%;
      margin-right: 0;

      &:nth-child(4n + 4) {
        margin-right: 0;
      }

      &:nth-child(3n + 3) {
        margin-right: 0;
      }
    }

    &__reportEntry {
      padding: 16 * $XSBS;
      border-top-width: 16 * $XSBS;
    }

    &__reportRow {
      margin-bottom: 16 * $XSBS;

      span {
        margin-right: 32 * $XSBS;
        @include bs-font-size-xs(22);
        line-height: 130%;
      }

      &--name {
        @include bs-font-size-xs(36);
      }
    }

    &__text {
      padding: $XSBS * 32;
      margin-bottom: $XSBS * 32;

      li {
        margin-bottom: $XSBS * 32;
      }
    }
  }
}
